*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color:hsl(10, 20%, 86%);
    font-family: 'Red Hat Display', sans-serif;
}

.container{
    max-width: 300px;
    border-bottom: 6px solid;
    margin: 4rem auto auto auto;
    padding: 1rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}


